.top-buffer{
	margin-top: 20px;
	margin-left: 0px;
	text-align: center;
}

.links{
  font-size: 20px;
  /*margin-top: 20px;*/
  border-style: outset;
  transition : background-color 1s;
  border-radius: 1px;
  text-align: center;

}

.links:hover{
	background-color: tomato;

}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  line-height: 1;
  width: 100%;
} 

.box{
  height: 150;
  border-style: outset;
  width: 100%;
}



