.top-buffer{
	margin-top: 10px;
	margin-left: 0px;
	text-align: center;
}

.links{
  font-size: 20px;
  margin-top: 30px;
  width: 100%;
  background-color: cadetblue;
  transition : background-color 1s;
  border-radius: 1px;
}

a{
	color: black;
}

.links:hover{
	background-color: tomato;

}


.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  line-height: 1;
  width: 100%;
}



